# Copyright 2025 ResRipper.
# SPDX-License-Identifier: Apache-2.0

name: builder

on:
    # push:
    workflow_dispatch:

env:
    # Trilinos' version is determined by Xyce
    # https://github.com/Xyce/Xyce/blob/master/INSTALL.md#building-trilinos
    TRILINOS_VER: 14-4-0
    XYCE_VER: 7.10.0

jobs:
    build_serial:
        runs-on: ubuntu-24.04
        env:
            PARALLEL: false
        steps: [
            {
                name: Fetch repo,
                uses: actions/checkout@v6
            },
            {
                name: Fetch repo,
                run: bash repo_prepare.sh
            },
            {
                name: Install prerequisites,
                run: bash prerequisites.sh
            },
            {
                name: Build Trilinos,
                run: bash trilinos.sh
            },
            {
                name: Build Xyce,
                run: bash build.sh
            },
            {
                name: Upload,
                uses: actions/upload-artifact@v6,
                with: {
                    name: bin_serial,
                    path: "~/xyce_serial-${{ env.XYCE_VER }}.tar.zst"
                }
            }
        ]

    # build_parallel:
    #     runs-on: ubuntu-24.04
    #     env:
    #         PARALLEL: true
    #     steps: [
    #         {
    #             name: Fetch repo,
    #             uses: actions/checkout@v6
    #         },
    #         {
    #             name: Fetch repo,
    #             run: bash repo_prepare.sh
    #         },
    #         {
    #             name: Install prerequisites,
    #             run: bash prerequisites.sh
    #         },
    #         {
    #             name: Build Trilinos,
    #             run: bash trilinos.sh,
    #             env: {
    #                 PARALLEL: true
    #             }
    #         },
    #         {
    #             name: Build Xyce,
    #             run: bash build.sh,
    #             env: {
    #                 PARALLEL: true
    #             }
    #         },
    #         {
    #             name: Upload,
    #             uses: actions/upload-artifact@v6,
    #             with: {
    #                 name: bin_parallel,
    #                 path: "~/xyce_parallel-${{ env.XYCE_VER }}.tar.zst"
    #             }
    #         }
    #     ]

    # pack_release:
    #     runs-on: ubuntu-latest
    #     # needs: [build_serial, build_parallel]
    #     needs: [build_serial]
    #     permissions:
    #         contents: write
    #     steps: [
    #         {
    #             name: Get date,
    #             run: echo "DATE=$(date +%Y%m%d)" >> $GITHUB_ENV
    #         },
    #         {
    #             name: Download artifacts,
    #             uses: actions/download-artifact@v7,
    #             with: {
    #                 path: "~/",
    #                 pattern: "*.tar.zst",
    #                 merge-multiple: true
    #             }
    #         },
    #         {
    #             name: Write release,
    #             uses: softprops/action-gh-release@v2,
    #             with: {
    #                 name: "Xyce-${{ env.XYCE_VER }}-${{ env.DATE }}",
    #                 draft: true,
    #                 files: "xyce_serial-${{ env.XYCE_VER }}.tar.zst"
    #                 # files: "xyce_serial-${{ env.XYCE_VER }}.tar.zst\n xyce_parallel-${{ env.XYCE_VER }}.tar.zst"
    #             }
    #         },
    #     ]
