# Copyright 2025 ResRipper.
# SPDX-License-Identifier: Apache-2.0

# Binary builder, should not be triggered directly

name: builder

on:
    workflow_call:
        inputs:
            parallel:
                description: 'Build parallel (MPI) version of Xyce'
                required: false
                type: boolean
                default: false
            trilinos_version:
                description: 'Version of Trilinos, check Xyce requirement first'
                required: true
                type: string
            xyce_version:
                description: 'Version of Xyce to be built'
                required: true
                type: string
            texlive_obsolete:
                description: 'If TeXLive from distro is obsoleted'
                default: true
                required: false
                type: boolean
            texlive_version:
                description: 'Version of TeXLive provided by distro'
                default: 2023
                required: false
                type: number
            skip_test:
                description: 'Skip all tests'
                default: false
                required: false
                type: boolean

env:
    # Trilinos' version is determined by Xyce
    # https://github.com/Xyce/Xyce/blob/master/INSTALL.md#building-trilinos
    TRILINOS_VER: ${{ inputs.trilinos_version }}
    PARALLEL: ${{ inputs.parallel }}
    XYCE_VER: ${{ inputs.xyce_version }}
    TEXLIVE_OBSOLETE: ${{ inputs.texlive_obsolete }}
    TEXLIVE_VER: ${{ inputs.texlive_version }}
    SKIP_TEST: ${{ inputs.skip_test }}

jobs:
    build:
        runs-on: ubuntu-24.04
        steps: [
            {
                name: Fetch repo,
                uses: actions/checkout@v6
            },
            {
                name: Download source code,
                run: bash repo_prepare.sh
            },
            {
                name: Install prerequisites,
                run: bash prerequisites.sh
            },
            {
                name: Build Trilinos,
                run: bash trilinos.sh
            },
            {
                name: Build Xyce,
                run: bash build.sh
            },
            {
                name: Upload to artifact,
                uses: actions/upload-artifact@v6,
                with: {
                    name: "${{ env.XYCE_VER }}-${{ inputs.parallel == true && 'parallel' || 'serial' }}",
                    path: "~/xyce_${{ inputs.parallel == true && 'parallel' || 'serial' }}-${{ env.XYCE_VER }}.tar.zst",
                    if-no-files-found: error
                }
            }
        ]