# Copyright 2025 ResRipper.
# SPDX-License-Identifier: Apache-2.0

# Configure build parameters and upload built files to release

name: Initialize build and release

on:
    push:
        paths-ignore:
            - '.gitignore'
            - '**/*.md'
            - '**/*.toml'
    workflow_dispatch:

env:
    XYCE_VER: '7.10.0'

jobs:
    start_builder:
        # strategy:
        #     matrix:
        #         parallel: [true, false]
        uses: ./.github/workflows/builder.yml
        with:
            # parallel: ${{ matrix.parallel }}
            parallel: false
            # Trilinos' version is determined by Xyce
            # https://github.com/Xyce/Xyce/blob/master/INSTALL.md#building-trilinos
            trilinos_version: '14-4-0'
            xyce_version: '7.10.0'
            texlive_obsolete: true
            texlive_version: 2023
            test: true
    
    release:
        runs-on: ubuntu-latest
        needs: [start_builder]
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        permissions:
            contents: write
        steps: [
            {
                name: Download all artifacts,
                uses: actions/download-artifact@v7,
                with: {
                    path: "~/",
                    merge-multiple: true
                }
            },
            {
                name: Upload files to release,
                run: "gh release upload ${{ github.ref_name }} ~/xyce_*.tar.zst",
                env: {
                    GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}",
                    GH_REPO: "${{ github.repository }}"
                }
            },
        ]
