# Copyright 2025 ResRipper.
# SPDX-License-Identifier: Apache-2.0

# Configure build parameters and upload built files to release

name: Initialize build and release

on:
    push:
    workflow_dispatch:

env:
    XYCE_VER: '7.10.0'

jobs:
    start_builder:
        # strategy:
        #     matrix:
        #         parallel: [true, false]
        uses: ./.github/workflows/builder.yml
        with:
            # parallel: ${{ matrix.parallel }}
            parallel: false
            # Trilinos' version is determined by Xyce
            # https://github.com/Xyce/Xyce/blob/master/INSTALL.md#building-trilinos
            trilinos_version: '14-4-0'
            xyce_version: '7.10.0'
            texlive_obsolete: true
            texlive_version: 2023
            skip_test: true
    
    release:
        runs-on: ubuntu-latest
        needs: [start_builder]
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        permissions:
            contents: write
        steps: [
            {
                name: Download all artifacts,
                uses: actions/download-artifact@v7,
                with: {
                    path: "~/",
                    merge-multiple: true
                }
            },
            {
                name: Upload files to release,
                uses: svenstaro/upload-release-action@v2,
                with: {
                    repo_token: "${{ secrets.GITHUB_TOKEN }}",
                    tag: "${{ github.ref }}",
                    file_glob: true,
                    file: "~/*.tar.zst",
                }
            },
        ]
